
@{
    ViewData["Title"] = "Admin panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to the admin panel</h1>

<a asp-action="Posts">Manage posts</a>
<a asp-action="Tags">Manage tags</a>
<a asp-action="ApprovedEmails">Manage approved emails</a>